
@{
    ViewBag.Title = "FaMember";
}

<h2>FaMember</h2>

<form action="getPermission" method="post">
    <input id="ManageCourses" type="submit" value="Manage Courses" />
    <br />
    <input id="ManangeExams" type="submit" value="Manange Exams" />
    <br />
    <input id="UpdateGrades" type="submit" value="Update Grades" />

</form>