
@{
    ViewBag.Title = "FaMember";
}

<h2>FaMember</h2>

<form action="FaMemberActions" method="post">
    <input id="ManageCoursesAndStudents" type="submit" name="ManageCoursesAndStudents" value="Manage Students and Courses" />
    <br />
    <input id="ManangeExams" type="submit" name="ManageExams" value="Manange Exams" />
    <br />
    <input id="UpdateGrades" type="submit" name="UpdateGrades" value="Update Grades" />

</form>