
@{
    ViewBag.Title = "Lecturer";
}

<h2>Lecturer</h2>

<form action="LecturerActions" method="post">
    <input id="Courses" type="submit" name="courses" value="Courses" />
    <br />
    <input id="Students" type="submit" name="studentList" value="Students List" />



</form>