
@{
    ViewBag.Title = "Lecturer";
}

<h2>Lecturer</h2>

<form action="getPermission" method="post">
    <input id="Schedule" type="submit" value="Schedule" />
    <br />
    <input id="Courses" type="submit" value="Courses" />

</form>