@using proj.Models
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<div>

    <form action="getPermission" method="post">
        <label>Username: </label> <input id="Username" name="Username" type="text" />
        <br />
        <label>Password: </label> <input id="Password" name="Password" type="text" />
        <br />
        <input id="SubmitLogin" type="submit" value="Submit" />
    </form>

</div>