@using proj.Models

@{
    ViewBag.Title = "ShowStusForLect";
}

<h2>studentsListAssosCourses</h2>

<div><b>choose student from course</b><br /></div>


<form method ="post" action="enter" onsubmit="SetData()">
    <select name="courseId" id="courseId">
        @foreach (Courses obj in Model.courses)
        {
            <option value=@obj.CourseId>@obj.CourseId</option>
        }
    </select>
        <input type="submit" value="enter" />
</form>




