
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<form action="StudentActions" method="post">

    <input id="Schedule" type="submit" name="schedule" value="Schedule" />
    <br />
    <input id="Exams" type="submit" name="exams" value="Exams" />

</form>


