
@{
    ViewBag.Title = "Student";
}

<h2>Student</h2>
<form action="getPermission" method="post">
    <input id="Schedule" type="submit" value="Schedule" />
    <br />
    <input id="Exams" type="submit" value="Exams" />

</form>


